body { background: #16309c; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 14px; display: flex; }
.block-uploader-0 { color: #8ed2e2; font-size: 17px; margin-bottom: 5px; }
.block-filter-1 { color: #225c88; font-size: 14px; margin-bottom: 5px; }
.block-search-2 { color: #615f6d; font-size: 15px; margin-bottom: 5px; }
.block-payment-3 { color: #582cef; font-size: 12px; margin-bottom: 5px; }
.block-search-4 { color: #9dbe02; font-size: 16px; margin-bottom: 5px; }
.block-auth-5 { color: #a750cb; font-size: 17px; margin-bottom: 5px; }
.block-notify-6 { color: #856755; font-size: 16px; margin-bottom: 5px; }
.block-sms-7 { color: #e74c71; font-size: 16px; margin-bottom: 5px; }
.block-payment-8 { color: #3d3228; font-size: 20px; margin-bottom: 5px; }